.App {
  text-align: center;
  /* background-image: url("./Pokeball2.jpg"); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #64e46b;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.App-link {
  color: #61dafb;
}

.table_pokemon .table_head{
  background-color: #64cae4;
}

.table_pokemon .table_body{
  background-color: #ecf573;
}

.container .pokemon_image {
  padding: 20px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pokemon_image img {
  max-width: 100%;
  height: auto;
}

.pokemon{
  background-image: url("./pkball-removebg-preview.png");
  background-size: contain;
}

.detail {
  justify-content: center;
  background-color: white;
  background-clip: border-box;
  overflow: hidden;
  margin-top: 10px;
  /* border: 1px solid; */
}

.detail .pokemon_name {
  background-color: #ecd018;
  text-align: center;
  padding: 10px;
}

.detail .pokemon_name p {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}
.detail .pokemon_type {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
  letter-spacing: 4px;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.detail .pokemon_move {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  letter-spacing: 4px;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.detail .span_type {
  justify-content: center;
  background-color: rgb(158, 245, 233);
  background-clip: border-box;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid;
  flex-wrap: wrap;
}

.detail .span_move {
  justify-content: center;
  background-color: rgb(191, 158, 245);
  background-clip: border-box;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid;
  flex-wrap: wrap;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
